@page
@model TestRazorApp.Pages.ContactModel
@{
}
<section class="contact-wrap-layout1">
    <div class="container">
        <div class="row gutters-50">
            <div class="col-lg-8">
                <div class="contact-box-layout1">
                    <div class="google-map-area">
                        <div id="googleMap" style="width:100%; height:450px; border-radius: 4px;"></div>
                    </div>
                    <div class="contact-way">
                        <div class="contact-list">
                            <h3 class="item-title">آدرس اداره</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط.</p>
                        </div>
                        <div class="contact-list">
                            <h3 class="item-title">تلفن</h3>
                            <p>+123 88 9999 00, +123 88 9999 00, +123 88 9999 00</p>
                        </div>
                        <div class="contact-list">
                            <h3 class="item-title">ایمیل به ما</h3>
                            <p>info@gmail.com, info@gmail.com, info@gmail.com,</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
                <div class="widget">
                    <div class="widget-newsletter-subscribe-dark">
                        <h3>اشتراک!</h3>
                        <p>دریافت آخرین به روز رسانی ها</p>
                        <form class="newsletter-subscribe-form">
                            <div class="form-group">
                                <input type="text" placeholder="آدرس ایمیل شما" class="form-control"
                                       name="email" data-error="فیلد ایمیل مورد نیاز است" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group mb-none">
                                <button type="submit" class="item-btn">اشتراک</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">دنبال کردن من </h3>
                    </div>
                    <div class="widget-follow-us-2">
                        <ul>
                            <li class="single-item"><a href="#"><i class="fab fa-facebook-f"></i>لایک کردن من</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-twitter"></i>دنبال کردن من</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-instagram"></i>دنبال کردن من</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-linkedin-in"></i>دنبال کردن من</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-pinterest-p"></i>دنبال کردن من</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-youtube"></i>اشتراک</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <div class="widget-ad">
                        <a href="#"><img src="img/figure/figure5.jpg" alt="Ad" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>